<h1>New Swag Order</h1>
<p>Order some awesome Vonage Swag!</p>
<img src="/img/Voyagers_Meet-the-Voyagers.png" alt="Vonage Voyagers: Meet the Voyagers">

<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>
<%= form_with model: @order do |form| %>
  <%= form.label :name, "Product Name" %>
  <%= form.text_field :product_name, value: "Vonage Swag", readonly: true %>
  <%= form.submit 'Create Order' %>
<% end %>
