<h1>Create your Swag Order</h1>
<p>Order some awesome Vonage Swag!</p>
<img src="/img/Voyagers_Andi.png" alt="Vonage Voyagers: Andi">

<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>
<%= form_with model: @order do |form| %>
  <%= form.label :name, "Product Name" %>
  <%= form.select :product_name, options_for_select([
    ['T-Shirt + Ruby Sticker', 'Vonage t-shirt and Ruby Sticker'],
    ['Notebook + Ruby Sticker', 'Vonage Notebook and Ruby Sticker'],
    ['Pencil + Ruby Sticker', 'Vonage Pencil and Ruby Sticker'],
    ['Pen + Ruby Sticker', 'Vonage Pen and Ruby Sticker'],
    ['Toothbrush + Ruby Sticker', 'Vonage Toothbrush and Ruby Sticker'],
    ['Multi-charge Cable + Ruby Sticker', 'Vonage Multi-charge Cable and Ruby Sticker'],
    ['Keyring + Ruby Sticker', 'Vonage Keyring and Ruby Sticker']
  ]) %>
  <%= form.submit 'Create Order' %>
<% end %>
